{% extends "../../store/base.html" %}
{% block title %}Activation{% endblock %}
{% block content %}



<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7  mx-auto">
                          <p>ALMOST THERE! Activation link has been sent!</p> <p>Please check your email to activate your account</p>
                          <p>Good things await!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
