{% extends "base.html" %}
{% load static %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}
<style>
  .btn-link {
      border: 2px solid #ccc;
      height: calc(2em + .75rem + 2px);
  }

  .btn-submit {
      border-color: #1497ff;
      box-shadow: none;
  }
</style>
<main class="pt-5">
  <div class="container">
    <h1 class="h5">Shopping Cart</h1>
    {% for item in cart %}
    {% with product=item.product %}
    <div data-index="{{product.id}}" class="row mb-4 border product-item">
      <div class=" py-5 col-md-3 col-lg-2 order-md-first bg-light">
                <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
        <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ product.image.url }}"> </a>
      </div>
      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
          <h1 class="h5 pt-2">{{ product.title }}</h1>
        </a>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6"></div>
              <div class="col-6 text-end">
                <span id="subtotall" class="h6 fw-bold">{{ item.qty }}</span>
                <span class="h6 fw-bold"> x </span>
                <span class="h6 fw-bold">${{ product.price }}</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row p-2">
              <div class="col-12 mr-4">
                <label for="select">Qty</label>
                <select id="select{{product.id}}" style="width:50px;height:31px;">
                  <option value="" selected disabled hidden>{{item.qty}}</option>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                  <option value="">5</option>
                  <option value="">6</option>
                  <option value="">7</option>
                  <option value="">8</option>
                </select>
                <button type="button" id="update-button" data-index="{{product.id}}"
                  class="btn btn-outline-secondary btn-sm update-button gap-0">
                  Update
                </button>
                <button type="button" id="delete-button" data-index="{{product.id}}"
                  class="btn btn-outline-secondary btn-sm delete-button">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endfor %}



    <!-- <div class="col-12 text-end">
      <div class="h6 fw-bold">Shipping : <div id="subtotal" class="d-inline-flex">${{cart.shipping}}</div></div>
    </div>

    -->




    <div class="col-12 text-end pt-5">
      <small class="text-muted">
      <div class="">Shipping: $<div id="" class="d-inline-flex">100000.00</div></div></small>
    </div>

    <!-- <div class="col-12 text-end">
      <div class="h6 fw-bold">Sub Total: $<div id="subtotal" class="d-inline-flex">{{cart.get_subtotal_price}}</div></div>
    </div> -->

    <div class="col-12 text-end">
      <div class="h6 fw-bold">Total: $<div id="subtotal" class="d-inline-flex">{{cart.get_total_price}}</div></div>
    </div>


    <div class="col-12 text-end">
      <p class="">
        {% csrf_token %}
        <button class="btn btn-link btn-submit mb-4 mt-5 fw-bold">
          <a href="{% url "payment:cart" %}">Checkout</a> </button>
      </p>
      <div class="h6 fw-bold"><div id="subtotal" class="d-inline-flex"></div></div>
    </div>
  </div>
</main>



<script>
  $( "#clickme" ).click(function() {
  $( "#book" ).animate({
    opacity: 0.25,
    left: "+=50",
    height: "toggle"
  }, 5000, function() {
    // Animation complete.
  });
});



  // Delete Item
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "cart:cart_delete" %}',
      data: {
        productid: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("subtotall").innerHTML = json.subtotall;

        document.getElementById("cart-qty").innerHTML = json.qty;
      },
      error: function (xhr, errmsg, err) {}
    });
  })


  //Hide double selection


  // Update Item
  $(document).on('click', '.update-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "cart:cart_update" %}',
      data: {
        productid: $(this).data('index'),
        productqty: $('#select' + prodid + ' option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("cart-qty").innerHTML = json.qty
        document.getElementById("subtotal").innerHTML = json.subtotal


      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>


{% endblock %}
