{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<style>



p{
	Background-color: rgba(235,233,234,0.25);
  color: gray;
  Border: 7px solid rgba(235,233,224,0.4);

  font-family: serif;
	Box-sizing: border-box; /* for inside padding */
	Padding: 10px;
  Border-radius: 6px;
  Text-align: center;
  width: 80%;
  transform: translate(10%, 20%);
	/* for center */
	Position:absolute;

  display: none;


}



  .btn-group-sm:link,
  .btn-group:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 40px;
      display: inline-block;
      border-radius: 100px;
      transition: all .2s;
      position: absolute;
  }

  .btn-group-sm:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(168,184,209 0.2);

  }

  .btn-secondary:active {
    transform: translateY(-2px);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4) !important;
  }

  .btn-group-sm-white {
      background-color: #fff;
      color: rgba(0,0,0,0.2);
  }

  .btn-group-sm::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 200px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .2s;
  }

  .btn-group-sm::after {
      background-color: #c5bfbb;
  }

  .btnn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }

  .btn-group-sm {
      animation: moveInBottom 5s ease-out;
      animation-fill-mode: backwards;
  }

  @keyframes moveInBottom {
      0% {
          opacity: 0;
          transform: translateY(30px);
      }

      100% {
          opacity: 1;
          transform: translateY(0px);
      }
  }
  @keyframes bounce {
     0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
     40% {transform: translateY(-30px);}
     60% {transform: translateY(-15px);}
  }



</style>
<div id="myModal"><p>Added to your cart!</p>
</div>
<div class="container py-2 mt-2 pt-5">

    <main class="pt-5">

        <div class="row g-3">

            <div class="d-inline-flex py-2 my-2 col-md-5 col-lg-5 order-md-first bg-light">

                <img class="img-fluid mx-auto d-block" width="400px" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">

                <h1 class="mb-0 h4">{{ product.title }}</h1>
                <br />
                <ul>Details</ul>
                <ul>{{ product.description|slice:":355" }}</ul>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"></div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">${{ product.price }}</span></div>
                        </div>


                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Qty</label>
                                <br />
                                <select id="select" class="mr-6 ml-6">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>

                            </div>
                            <div class="col-6 text-end">
<div id="success"><button onclick= success() type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm order" data-toggle="modal">Add to cart</button></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
</div>


<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart:cart_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("cart-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>


<script>
  $("button").click(function(){
      // This function will be executed when you click the element
      // show the element you want to show
      $("p").show();

      // Set a timeout to hide the element again
      setTimeout(function(){
          $("p").hide();
      }, 3000);
  });
</script>
<script>

</script>

<!-- <script>
  function success() {
    alert("YAYYYY added to cart!");
  }
</script> -->

{% endblock %}
